// В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-card {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  &__inner {
    // box-shadow: $shadow2;
    transition: all $transition-time;

    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.59);
    }
  }

  &__image {
    img {
      display: block;
    }
  }

  &__body {
    background: #fff;
    padding: 15px;
  }

  &__title {
    @include text-crop;
    margin-top: 0;
    font-size: 18px;
    font-family: $font-family;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__info {
    font-size: 12px;
    line-height: 2;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 15px;
  }

}
