// В этом файле должны быть стили для БЭМ-блока page-footer-copiryght, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer-copiryght {

  $block-name:                &; // #{$block-name}__element

  background: #5f1722;
  color: #fff;
  padding: 12px 0;

  a {
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  &__inner {
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: right;
    }
  }
}
