// В этом файле должны быть стили для БЭМ-блока review-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.review-card {

  $block-name:                &; // #{$block-name}__element

  background: #fff;
  // box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  padding: 40px 60px;
  text-align: center;

  &__user {
    display: inline-block;
    margin-bottom: 25px;
  }

  &__user-image {
    width: 128px;
    height: 128px;
    margin-bottom: 18px;
    background-color: #c6c6c6;
    border-radius: 50%;
    overflow: hidden;
  }

  &__user-name {
    font-size: 18px;
    line-height: 1.6;
    border-bottom: 2px solid $color-main;
  }

  &__rating {
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 2;
  }
}
